* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  margin-top: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App input {
  width: 100%;
  font-size: 20px;
  padding-inline-start: 10px;
}
